<apex:page standardController="Account" standardStylesheets="false" applyBodyTag="false">
    <apex:includeLightning />
    <div id="content" style="overflow: auto; white-space: nowrap;">
        <div id="lightningComponent" />
    </div>
    
    
    <script type="text/javascript">
    (function() {
        try {
            var a = navigator.userAgent;
            if ((a.indexOf('Salesforce') != -1) && (a.indexOf('iPhone') != -1 || a.indexOf('iPad') != -1) && (a.indexOf('OS/8') != -1 || a.indexOf('OS 8') != -1 || a.indexOf('OS/9') != -1 || a.indexOf('OS 9') != -1) && (a.indexOf('Safari') == -1)) {
                var s = document.createElement('style');
                if (a.indexOf('OS/8') != -1 || a.indexOf('OS 8') != -1) {
                    s.innerHTML = "html,html body{overflow: auto;-webkit-overflow-scrolling:touch;}body{position:absolute;left:0;right:0;top:0;bottom:0;}";
                } else if (a.indexOf('OS/9') != -1 || a.indexOf('OS 9') != -1) {
                    s.innerHTML = "html,html body{overflow: auto;-webkit-overflow-scrolling:auto;}body{position:absolute;left:0;right:0;top:0;bottom:0;}";
                }
                document.getElementsByTagName('head')[0].appendChild(s);
            }
        } catch (e) {}
    })();
    </script>
    
    <script>
    
    var recordId = '{!Account.Id}';
    var myUserContext = "{!$User.UITheme}";
    $Lightning.use("c:Account_AlarmApp", function() {
        $Lightning.createComponent("c:Account_Alarms",
                                   {recordId: recordId},
                                   "lightningComponent",
                                   function(cmp) {
                                       $A.eventService.addHandler({
                                           event: 'force:navigateToSObject',
                                           handler: function(event) {
                                               if (myUserContext == 'Theme4t' || myUserContext == 'Theme4d') {
                                                   // The Visualforce page is in S1 or Lightning Experience
                                                   sforce.one.navigateToSObject(event.getParams().recordId);
                                               } else if (myUserContext == 'Theme3') {
                                                   // The Visualforce page is  running in Classic
                                                   window.parent.location = '/' + event.getParams().recordId;
                                               } else {
                                                   console.log("Unsupported theme");   
                                               }
                                           }
                                       });
                                   }
                                  );
    });
    </script>
    
</apex:page>