<apex:page standardController="Account" standardStylesheets="false" applyBodyTag="false">
    <apex:includeLightning />
    <div id="content" style="overflow: auto; white-space: nowrap;">
        <div id="lightningComponent" />
    </div>
    <script>
    var recordId = '{!Account.Id}';
    var myUserContext = "{!$User.UITheme}";
    $Lightning.use("c:Account_OpportunityApp", function() {
        $Lightning.createComponent("c:Account_Opportunities",
                                   {recordId: recordId},
                                   "lightningComponent",
                                   function(cmp) {
                                       $A.eventService.addHandler({
                                           event: 'force:navigateToSObject',
                                           handler: function(event) {
                                               if (myUserContext == 'Theme4t' || myUserContext == 'Theme4d') {
                                                   // The Visualforce page is in S1 or Lightning Experience
                                                   sforce.one.navigateToSObject(event.getParams().recordId);
                                               } else if (myUserContext == 'Theme3') {
                                                   // The Visualforce page is  running in Classic
                                                   window.parent.location = '/' + event.getParams().recordId;
                                               } else {
                                                   console.log("Unsupported theme");   
                                               }
                                           }
                                       });
                                   }
                                  );
    });
    </script>
    
</apex:page>