.THIS {
    position:absolute;
    height: 100%;
    width: 100%;
}
.THIS > div.listBlock {
    position:block;
}
.THIS > div.searchBlock {
    position:block;
}
.THIS > div.listBlock {
    position:block;
    overflow:scroll;
}